body{
    background-color: lightslategrey    ;
}
tr {
    cursor: pointer;
    color: white;
    font-weight: bold;
}

tr:hover {
    background: linear-gradient(rgb(115, 164, 209), rgb(29, 17, 17));
}

.td {
    transition: all 0.5ms;
}

.nav {
    width:25%;
    margin-left: auto;
    margin-right: auto;
    margin: 20px 0px;
}

.nav li {
    margin: 30px auto;
}

.nav li a {
    padding: 15px 40px;
    background-color: rgb(6, 24, 65);
    transition: all 0.2s;
}

.nav li a:hover {
    transform: scale(1.2, 1.2);
}